<launch>
  <!--node name="rplidarNode"       pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node-->
  
  <node name="motors"      pkg="rplidar_ros"   type="motors" output="screen"></node>
  <!--<node name="path_recog"  pkg="RoadDetection" type="path_recog.py" output="screen"></node>-->
  <!--<node name="imgCapture" pkg="RoadDetection" type="imgCapture.py" output="screen"></node>-->
  <node name="avoidance"   pkg="rplidar_ros"   type="obstacle" output="screen"></node>
  <node name="lidar"       pkg="rplidar_ros"   type="rplidarNode" output="screen"></node>
</launch>
